/.vs/HtmlBrower/v14/*.suo
/HtmlApp.VC.db
/HtmlApp/Debug/*.log
/ipch/HTMLAPP-a5286f77/*.ipch
/HtmlApp/Release
/Release
/Debug
/*.opendb
/HtmlApp/Debug
/HtmlApp/x64/Debug
/HtmlApp/x64/Release
/x64/Debug
/x64/Release
